Configuration(
    files: {
        "../README.md":  [
            "header.md",
            "async-docs.md",
            "https://github.com/khonsulabs/.github/raw/main/snippets/readme-footer.md",
        ],
        "../src/.crate-docs.md":  (
            for_docs: true,
            sections: [
                "async-docs.md",
            ],
        )
    },
    glossaries: [
        "https://github.com/khonsulabs/.github/raw/main/snippets/glossary.ron",
        "../../../.rustme/glossary.ron",
    ],
)