Configuration(
    files: {
        "../README.md":  [
            "header.md",
            "cbor-docs.md",
            "https://github.com/khonsulabs/.github/raw/main/snippets/readme-footer.md",
        ],
        "../.crate-docs.md":  [
            "cbor-docs.md",
        ],
    },
    glossaries: [
        External("https://github.com/khonsulabs/.github/raw/main/snippets/glossary.ron")
    ],
)