Configuration(
    files: {
        "../README.md":  [
            "header.md",
            "cbor-docs.md",
            "https://github.com/khonsulabs/.github/raw/main/snippets/readme-footer.md",
        ],
        "../src/.crate-docs.md":  (
            for_docs: true,
            sections: [
                "cbor-docs.md",
            ],
        ),
    },
    glossaries: [
        "https://github.com/khonsulabs/.github/raw/main/snippets/glossary.ron",
        "../../../.rustme/glossary.ron",
        {
            "cbor-type": (
                default: "https://khonsulabs.github.io/transmog/main/transmog_cbor/struct.Cbor.html",
                release: "https://docs.rs/transmog-cbor/*/transmog_cbor/struct.Cbor.html",
                for_docs: "crate::Cbor",
            )
        }
    ],
)