Configuration(
    files: {
        "../README.md":  [
            "header.md",
            "bincode-docs.md",
            "https://github.com/khonsulabs/.github/raw/main/snippets/readme-footer.md",
        ],
        "../src/.crate-docs.md":  (
            for_docs: true,
            sections: [
                "bincode-docs.md",
            ]
        ),
    },
    glossaries: [
        "https://github.com/khonsulabs/.github/raw/main/snippets/glossary.ron",
        "../../../.rustme/glossary.ron",
        {
            "bincode-type": (
                default: "https://khonsulabs.github.io/transmog/main/transmog_bincode/struct.Bincode.html",
                release: "https://docs.rs/transmog-bincode/v0.1.0-dev.1/transmog_bincode/struct.Bincode.html",
                for_docs: "crate::Bincode",
            )
        }
    ],
)