{
    "format": (
        default: "https://khonsulabs.github.io/transmog/main/transmog/trait.Format.html",
        for_docs: "crate::transmog::Format",
    ),
    "transmog-async": "https://crates.io/crates/transmog-async",
    "transmog-bincode": "https://crates.io/crates/transmog-bincode",
    "transmog-cbor": "https://crates.io/crates/transmog-cbor",
    "transmog-pot": "https://crates.io/crates/transmog-pot",
    "transmog-versions": "https://crates.io/crates/transmog-versions",
}